*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d6e2f0ff;
    display: flex;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-card{
    border-radius:  16px;
    background-color: white;
    width: 90%;
    max-width: 320px;
    padding: 16px;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.qr-card-img{
    width: 100%;
    border-radius: 10px;
}

.qr-card-title{
    color: hsl(218, 44%, 22%);
    margin-top: 20px;
    font-size: 22px;
}

.qr-card-description{
    padding-left: 15px;
    padding-right: 15px;
    color: hsl(216, 15%, 48%);
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 15px;
}

.attribution {
        font-size: 0.68rem;
        bottom: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }