*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d6e2f0ff;
    display: flex;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    border-radius:  16px;
    background-color: white;
    width: 320px;
    padding: 16px;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card img{
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

h3{
    color: hsl(218, 44%, 22%);
    margin-top: 20px;
    font-size: 22px;
}

p{
    color: hsl(216, 15%, 48%);
    margin-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
}
